In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("saber_combined_all_fields.csv")

In [35]:
df.describe()

,Unnamed: 0,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_ano_examenestado_sb11,estu_semestrecursa,inst_cod_institucion,estu_snies_prgmacademico,estu_prgm_codmunicipio,estu_inst_codmunicipio,...,cole_cod_depto_ubicacion,punt_lenguaje,punt_matematicas,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,puntaje_prof
count,212010.000000,212010.000000,211645.000000,211645.000000,46960.000000,126187.00000,212010.000000,205479.000000,212010.000000,212010.000000,...,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000
mean,106004.500000,20170.184156,37.972761,29130.862539,2011.922466,6.94940,3476.782727,37047.804530,27598.687312,23531.839177,...,31.179492,51.457111,51.778789,49.445092,50.275350,48.835602,49.687142,45.089265,51.896175,29.798788
std,61202.159623,14.162938,947.511332,25780.276662,2.210888,2.68588,3810.251141,39054.944918,25442.052235,23418.009068,...,26.212527,7.551992,12.476416,8.194308,8.353876,10.001497,8.703722,9.299312,14.487412,23.229438
min,0.000000,20123.000000,5.000000,5001.000000,1968.000000,1.00000,1101.000000,1.000000,5001.000000,5001.000000,...,5.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,53002.250000,20163.000000,11.000000,11001.000000,2012.000000,4.00000,1704.000000,2524.000000,11001.000000,11001.000000,...,11.000000,46.000000,43.000000,44.000000,45.000000,43.000000,44.000000,39.000000,43.000000,5.000000
50%,106004.500000,20173.000000,13.000000,13001.000000,2012.000000,8.00000,1818.000000,13734.000000,11001.000000,11001.000000,...,17.000000,52.000000,51.000000,49.000000,50.000000,48.000000,49.000000,45.000000,47.000000,40.000000
75%,159006.750000,20183.000000,52.000000,52001.000000,2012.000000,9.00000,2849.000000,90876.000000,52001.000000,25175.000000,...,54.000000,56.000000,58.000000,54.000000,55.000000,55.000000,55.000000,51.000000,58.000000,52.000000
max,212009.000000,20184.000000,99999.000000,99999.000000,2015.000000,11.00000,129593.000000,106552.000000,99001.000000,99001.000000,...,99.000000,109.000000,127.000000,100.000000,95.000000,124.000000,111.000000,103.000000,100.000000,90.000000

In [36]:
df.head(6)

,Unnamed: 0,estu_tipodocumento,estu_nacionalidad,estu_genero,estu_fechanacimiento,estu_exterior,periodo,estu_consecutivo,estu_estadocivil,estu_estudiante,...,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,desemp_ingles,profundiza,puntaje_prof,desemp_prof
0,0,TI,COLOMBIA,M,30/07/1996,NaN,20134,EK201340233804,Soltero,ESTUDIANTE,...,39.0,42.0,33.0,33.0,29.0,38.0,A-,PUNT_INTERDISC_MEDIOAMBIENTE,49.0,NaN
1,1,CC,COLOMBIA,M,13/04/1994,NaN,20133,EK201330220754,Soltero,ESTUDIANTE,...,52.0,52.0,54.0,44.0,47.0,51.0,A1,PUNT_PROFUNDIZA_LENGUAJE,6.0,II
2,2,CC,COLOMBIA,F,08/12/1991,NaN,20134,EK201340246502,Soltero,ESTUDIANTE,...,50.0,51.0,28.0,46.0,45.0,43.0,A-,PUNT_PROFUNDIZA_BIOLOGIA,5.0,I
3,3,TI,COLOMBIA,F,10/01/1996,NaN,20134,EK201340237996,Soltero,ESTUDIANTE,...,34.0,35.0,45.0,42.0,40.0,43.0,A-,PUNT_INTERDISC_VIOLENCIAYSOC,29.0,NaN
4,4,CC,COLOMBIA,M,11/10/1995,NO,20173,EK201730119521,NaN,ESTUDIANTE,...,57.0,65.0,44.0,49.0,43.0,42.0,A-,PUNT_INTERDISC_MEDIOAMBIENTE,55.0,NaN
5,5,CC,COLOMBIA,M,08/08/1995,NO,20173,EK201730081262,NaN,ESTUDIANTE,...,46.0,47.0,36.0,44.0,26.0,34.0,A-,PUNT_INTERDISC_VIOLENCIAYSOC,52.0,NaN

In [6]:
df.describe()

,Unnamed: 0,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_ano_examenestado_sb11,estu_semestrecursa,inst_cod_institucion,estu_snies_prgmacademico,estu_prgm_codmunicipio,estu_inst_codmunicipio,...,cole_cod_depto_ubicacion,punt_lenguaje,punt_matematicas,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,puntaje_prof
count,212010.000000,212010.000000,211645.000000,211645.000000,46960.000000,126187.00000,212010.000000,205479.000000,212010.000000,212010.000000,...,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000
mean,106004.500000,20170.184156,37.972761,29130.862539,2011.922466,6.94940,3476.782727,37047.804530,27598.687312,23531.839177,...,31.179492,51.457111,51.778789,49.445092,50.275350,48.835602,49.687142,45.089265,51.896175,29.798788
std,61202.159623,14.162938,947.511332,25780.276662,2.210888,2.68588,3810.251141,39054.944918,25442.052235,23418.009068,...,26.212527,7.551992,12.476416,8.194308,8.353876,10.001497,8.703722,9.299312,14.487412,23.229438
min,0.000000,20123.000000,5.000000,5001.000000,1968.000000,1.00000,1101.000000,1.000000,5001.000000,5001.000000,...,5.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,53002.250000,20163.000000,11.000000,11001.000000,2012.000000,4.00000,1704.000000,2524.000000,11001.000000,11001.000000,...,11.000000,46.000000,43.000000,44.000000,45.000000,43.000000,44.000000,39.000000,43.000000,5.000000
50%,106004.500000,20173.000000,13.000000,13001.000000,2012.000000,8.00000,1818.000000,13734.000000,11001.000000,11001.000000,...,17.000000,52.000000,51.000000,49.000000,50.000000,48.000000,49.000000,45.000000,47.000000,40.000000
75%,159006.750000,20183.000000,52.000000,52001.000000,2012.000000,9.00000,2849.000000,90876.000000,52001.000000,25175.000000,...,54.000000,56.000000,58.000000,54.000000,55.000000,55.000000,55.000000,51.000000,58.000000,52.000000
max,212009.000000,20184.000000,99999.000000,99999.000000,2015.000000,11.00000,129593.000000,106552.000000,99001.000000,99001.000000,...,99.000000,109.000000,127.000000,100.000000,95.000000,124.000000,111.000000,103.000000,100.000000,90.000000

In [7]:
pd.set_option('display.max_rows',10)

print(df)

        Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0                0                 TI          COLOMBIA           M
1                1                 CC          COLOMBIA           M
2                2                 CC          COLOMBIA           F
3                3                 TI          COLOMBIA           F
4                4                 CC          COLOMBIA           M
...            ...                ...               ...         ...
212005      212005                 CC          COLOMBIA           F
212006      212006                 CC          COLOMBIA           F
212007      212007                 CC          COLOMBIA           F
212008      212008                 CC          COLOMBIA           M
212009      212009                 CC          COLOMBIA           M

       estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0                30/07/1996           NaN    20134   EK201340233804
1                13/04/1994           NaN    20133   EK201330220754
2                08/12/1991           NaN    20134   EK201340246502
3                10/01/1996           NaN    20134   EK201340237996
4                11/10/1995            NO    20173   EK201730119521
...                     ...           ...      ...              ...
212005           18/07/1997            NO    20183   EK201830051813
212006           04/09/1995            NO    20183   EK201830033770
212007           21/10/1971            NO    20183   EK201830110470
212008           10/08/1994            NO    20183   EK201830148018
212009           01/01/1997            NO    20183   EK201830033403

       estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0               Soltero      ESTUDIANTE  ...          39.0         42.0
1               Soltero      ESTUDIANTE  ...          52.0         52.0
2               Soltero      ESTUDIANTE  ...          50.0         51.0
3               Soltero      ESTUDIANTE  ...          34.0         35.0
4                   NaN      ESTUDIANTE  ...          57.0         65.0
...                 ...             ...  ...           ...          ...
212005          Soltero      ESTUDIANTE  ...          49.0         54.0
212006          Soltero      ESTUDIANTE  ...          68.0         56.0
212007           Casado      ESTUDIANTE  ...          43.0         29.0
212008          Soltero      ESTUDIANTE  ...          42.0         46.0
212009          Soltero      ESTUDIANTE  ...          57.0         61.0

       punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0             33.0                    33.0           29.0         38.0
1             54.0                    44.0           47.0         51.0
2             28.0                    46.0           45.0         43.0
3             45.0                    42.0           40.0         43.0
4             44.0                    49.0           43.0         42.0
...            ...                     ...            ...          ...
212005        70.0                    53.0           52.0         58.0
212006        55.0                    60.0           42.0         75.0
212007        46.0                    40.0           34.0         38.0
212008        45.0                    44.0           33.0         43.0
212009        56.0                    69.0           69.0         50.0

       desemp_ingles                    profundiza puntaje_prof desemp_prof
0                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1                 A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2                 A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3                 A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
...              ...                           ...          ...         ...
212005            A2      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
212006            B1      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
212007            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212008            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212009            A1    PUNT_PROFUNDIZA_MATEMATICA          6.0          II

[212010 rows x 144 columns]

In [8]:
df1=df.columns

In [9]:
df1

Index(['Unnamed: 0', 'estu_tipodocumento', 'estu_nacionalidad', 'estu_genero',
       'estu_fechanacimiento', 'estu_exterior', 'periodo', 'estu_consecutivo',
       'estu_estadocivil', 'estu_estudiante',
       ...
       'punt_biologia', 'punt_quimica', 'punt_fisica',
       'punt_ciencias_sociales', 'punt_filosofia', 'punt_ingles',
       'desemp_ingles', 'profundiza', 'puntaje_prof', 'desemp_prof'],
      dtype='object', length=144)

In [10]:
df.shape

(212010, 144)

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of         Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0                0                 TI          COLOMBIA           M
1                1                 CC          COLOMBIA           M
2                2                 CC          COLOMBIA           F
3                3                 TI          COLOMBIA           F
4                4                 CC          COLOMBIA           M
...            ...                ...               ...         ...
212005      212005                 CC          COLOMBIA           F
212006      212006                 CC          COLOMBIA           F
212007      212007                 CC          COLOMBIA           F
212008      212008                 CC          COLOMBIA           M
212009      212009                 CC          COLOMBIA           M

       estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0                30/07/1996           NaN    20134   EK201340233804
1                13/04/1994           NaN    20133   EK201330220754
2                08/12/1991           NaN    20134   EK201340246502
3                10/01/1996           NaN    20134   EK201340237996
4                11/10/1995            NO    20173   EK201730119521
...                     ...           ...      ...              ...
212005           18/07/1997            NO    20183   EK201830051813
212006           04/09/1995            NO    20183   EK201830033770
212007           21/10/1971            NO    20183   EK201830110470
212008           10/08/1994            NO    20183   EK201830148018
212009           01/01/1997            NO    20183   EK201830033403

       estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0               Soltero      ESTUDIANTE  ...          39.0         42.0
1               Soltero      ESTUDIANTE  ...          52.0         52.0
2               Soltero      ESTUDIANTE  ...          50.0         51.0
3               Soltero      ESTUDIANTE  ...          34.0         35.0
4                   NaN      ESTUDIANTE  ...          57.0         65.0
...                 ...             ...  ...           ...          ...
212005          Soltero      ESTUDIANTE  ...          49.0         54.0
212006          Soltero      ESTUDIANTE  ...          68.0         56.0
212007           Casado      ESTUDIANTE  ...          43.0         29.0
212008          Soltero      ESTUDIANTE  ...          42.0         46.0
212009          Soltero      ESTUDIANTE  ...          57.0         61.0

       punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0             33.0                    33.0           29.0         38.0
1             54.0                    44.0           47.0         51.0
2             28.0                    46.0           45.0         43.0
3             45.0                    42.0           40.0         43.0
4             44.0                    49.0           43.0         42.0
...            ...                     ...            ...          ...
212005        70.0                    53.0           52.0         58.0
212006        55.0                    60.0           42.0         75.0
212007        46.0                    40.0           34.0         38.0
212008        45.0                    44.0           33.0         43.0
212009        56.0                    69.0           69.0         50.0

       desemp_ingles                    profundiza puntaje_prof desemp_prof
0                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1                 A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2                 A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3                 A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
...              ...                           ...          ...         ...
212005            A2      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
212006            B1      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
212007            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212008            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212009            A1    PUNT_PROFUNDIZA_MATEMATICA          6.0          II

[212010 rows x 144 columns]>

In [21]:
cols = df.select_dtypes([np.number]).columns

In [22]:
cols

Index(['Unnamed: 0', 'periodo', 'estu_cod_reside_depto',
       'estu_cod_reside_mcpio', 'estu_ano_examenestado_sb11',
       'estu_semestrecursa', 'inst_cod_institucion',
       'estu_snies_prgmacademico', 'estu_prgm_codmunicipio',
       'estu_inst_codmunicipio', 'mod_razona_cuantitat_punt',
       'mod_lectura_critica_punt', 'mod_competen_ciudada_punt',
       'mod_ingles_punt', 'mod_comuni_escrita_punt',
       'estu_inst_cod_departamento', 'periodo.1', 'estu_cod_reside_depto.1',
       'estu_cod_reside_mcpio.1', 'cole_codigo_icfes',
       'cole_cod_dane_establecimiento', 'cole_cod_dane_sede',
       'cole_cod_mcpio_ubicacion', 'cole_cod_depto_ubicacion', 'punt_lenguaje',
       'punt_matematicas', 'punt_biologia', 'punt_quimica', 'punt_fisica',
       'punt_ciencias_sociales', 'punt_filosofia', 'punt_ingles',
       'puntaje_prof'],
      dtype='object')

In [23]:
dfnew = df.select_dtypes(include=np.number)

In [24]:
dfnew

,Unnamed: 0,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_ano_examenestado_sb11,estu_semestrecursa,inst_cod_institucion,estu_snies_prgmacademico,estu_prgm_codmunicipio,estu_inst_codmunicipio,...,cole_cod_depto_ubicacion,punt_lenguaje,punt_matematicas,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,puntaje_prof
0,0,20134,15.0,15322.0,2013.0,2.0,9110,91157.0,11001,11001,...,15.0,32.0,43.0,39.0,42.0,33.0,33.0,29.0,38.0,49.0
1,1,20133,91.0,91001.0,2012.0,2.0,2106,11675.0,11001,11001,...,91.0,48.0,64.0,52.0,52.0,54.0,44.0,47.0,51.0,6.0
2,2,20134,66.0,66170.0,2012.0,2.0,9110,91157.0,66001,11001,...,66.0,57.0,42.0,50.0,51.0,28.0,46.0,45.0,43.0,5.0
3,3,20134,13.0,13001.0,2012.0,5.0,9110,91227.0,13001,11001,...,13.0,40.0,46.0,34.0,35.0,45.0,42.0,40.0,43.0,29.0
4,4,20173,25.0,25754.0,NaN,8.0,2728,4678.0,11001,11001,...,25.0,48.0,44.0,57.0,65.0,44.0,49.0,43.0,42.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212005,212005,20183,23.0,23855.0,NaN,NaN,1727,3684.0,23001,23001,...,23.0,48.0,54.0,49.0,54.0,70.0,53.0,52.0,58.0,6.0
212006,212006,20183,11.0,11001.0,NaN,NaN,1117,91437.0,11001,11001,...,11.0,74.0,85.0,68.0,56.0,55.0,60.0,42.0,75.0,5.0
212007,212007,20183,19.0,19212.0,NaN,NaN,2104,1697.0,19455,11001,...,76.0,52.0,35.0,43.0,29.0,46.0,40.0,34.0,38.0,52.0
212008,212008,20183,50.0,50001.0,NaN,NaN,1826,13357.0,50001,11001,...,25.0,48.0,50.0,42.0,46.0,45.0,44.0,33.0,43.0,52.0
212009,212009,20183,76.0,76001.0,NaN,NaN,1203,568.0,76001,76001,...,76.0,60.0,65.0,57.0,61.0,56.0,69.0,69.0,50.0,6.0

In [32]:
dfwork=dfnew.fillna(dfnew.mean(), inplace=True)
# count the number of NaN values in each column
print(dfwork)

None

In [33]:
dfnew

,Unnamed: 0,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_ano_examenestado_sb11,estu_semestrecursa,inst_cod_institucion,estu_snies_prgmacademico,estu_prgm_codmunicipio,estu_inst_codmunicipio,...,cole_cod_depto_ubicacion,punt_lenguaje,punt_matematicas,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,puntaje_prof
0,0,20134,15.0,15322.0,2013.000000,2.0000,9110,91157.0,11001,11001,...,15.0,32.0,43.0,39.0,42.0,33.0,33.0,29.0,38.0,49.0
1,1,20133,91.0,91001.0,2012.000000,2.0000,2106,11675.0,11001,11001,...,91.0,48.0,64.0,52.0,52.0,54.0,44.0,47.0,51.0,6.0
2,2,20134,66.0,66170.0,2012.000000,2.0000,9110,91157.0,66001,11001,...,66.0,57.0,42.0,50.0,51.0,28.0,46.0,45.0,43.0,5.0
3,3,20134,13.0,13001.0,2012.000000,5.0000,9110,91227.0,13001,11001,...,13.0,40.0,46.0,34.0,35.0,45.0,42.0,40.0,43.0,29.0
4,4,20173,25.0,25754.0,2011.922466,8.0000,2728,4678.0,11001,11001,...,25.0,48.0,44.0,57.0,65.0,44.0,49.0,43.0,42.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212005,212005,20183,23.0,23855.0,2011.922466,6.9494,1727,3684.0,23001,23001,...,23.0,48.0,54.0,49.0,54.0,70.0,53.0,52.0,58.0,6.0
212006,212006,20183,11.0,11001.0,2011.922466,6.9494,1117,91437.0,11001,11001,...,11.0,74.0,85.0,68.0,56.0,55.0,60.0,42.0,75.0,5.0
212007,212007,20183,19.0,19212.0,2011.922466,6.9494,2104,1697.0,19455,11001,...,76.0,52.0,35.0,43.0,29.0,46.0,40.0,34.0,38.0,52.0
212008,212008,20183,50.0,50001.0,2011.922466,6.9494,1826,13357.0,50001,11001,...,25.0,48.0,50.0,42.0,46.0,45.0,44.0,33.0,43.0,52.0
212009,212009,20183,76.0,76001.0,2011.922466,6.9494,1203,568.0,76001,76001,...,76.0,60.0,65.0,57.0,61.0,56.0,69.0,69.0,50.0,6.0

In [34]:
dfnew.isna().any()

Unnamed: 0                    False
periodo                       False
estu_cod_reside_depto         False
estu_cod_reside_mcpio         False
estu_ano_examenestado_sb11    False
                              ...
punt_fisica                   False
punt_ciencias_sociales        False
punt_filosofia                False
punt_ingles                   False
puntaje_prof                  False
Length: 33, dtype: bool

In [13]:
df.corr

<bound method DataFrame.corr of         Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0                0                 TI          COLOMBIA           M
1                1                 CC          COLOMBIA           M
2                2                 CC          COLOMBIA           F
3                3                 TI          COLOMBIA           F
4                4                 CC          COLOMBIA           M
...            ...                ...               ...         ...
212005      212005                 CC          COLOMBIA           F
212006      212006                 CC          COLOMBIA           F
212007      212007                 CC          COLOMBIA           F
212008      212008                 CC          COLOMBIA           M
212009      212009                 CC          COLOMBIA           M

       estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0                30/07/1996           NaN    20134   EK201340233804
1                13/04/1994           NaN    20133   EK201330220754
2                08/12/1991           NaN    20134   EK201340246502
3                10/01/1996           NaN    20134   EK201340237996
4                11/10/1995            NO    20173   EK201730119521
...                     ...           ...      ...              ...
212005           18/07/1997            NO    20183   EK201830051813
212006           04/09/1995            NO    20183   EK201830033770
212007           21/10/1971            NO    20183   EK201830110470
212008           10/08/1994            NO    20183   EK201830148018
212009           01/01/1997            NO    20183   EK201830033403

       estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0               Soltero      ESTUDIANTE  ...          39.0         42.0
1               Soltero      ESTUDIANTE  ...          52.0         52.0
2               Soltero      ESTUDIANTE  ...          50.0         51.0
3               Soltero      ESTUDIANTE  ...          34.0         35.0
4                   NaN      ESTUDIANTE  ...          57.0         65.0
...                 ...             ...  ...           ...          ...
212005          Soltero      ESTUDIANTE  ...          49.0         54.0
212006          Soltero      ESTUDIANTE  ...          68.0         56.0
212007           Casado      ESTUDIANTE  ...          43.0         29.0
212008          Soltero      ESTUDIANTE  ...          42.0         46.0
212009          Soltero      ESTUDIANTE  ...          57.0         61.0

       punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0             33.0                    33.0           29.0         38.0
1             54.0                    44.0           47.0         51.0
2             28.0                    46.0           45.0         43.0
3             45.0                    42.0           40.0         43.0
4             44.0                    49.0           43.0         42.0
...            ...                     ...            ...          ...
212005        70.0                    53.0           52.0         58.0
212006        55.0                    60.0           42.0         75.0
212007        46.0                    40.0           34.0         38.0
212008        45.0                    44.0           33.0         43.0
212009        56.0                    69.0           69.0         50.0

       desemp_ingles                    profundiza puntaje_prof desemp_prof
0                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1                 A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2                 A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3                 A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
...              ...                           ...          ...         ...
212005            A2      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
212006            B1      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
212007            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212008            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212009            A1    PUNT_PROFUNDIZA_MATEMATICA          6.0          II

[212010 rows x 144 columns]>

In [14]:
df.columns

Index(['Unnamed: 0', 'estu_tipodocumento', 'estu_nacionalidad', 'estu_genero',
       'estu_fechanacimiento', 'estu_exterior', 'periodo', 'estu_consecutivo',
       'estu_estadocivil', 'estu_estudiante',
       ...
       'punt_biologia', 'punt_quimica', 'punt_fisica',
       'punt_ciencias_sociales', 'punt_filosofia', 'punt_ingles',
       'desemp_ingles', 'profundiza', 'puntaje_prof', 'desemp_prof'],
      dtype='object', length=144)

# correlation

In [15]:
df[["puntaje_prof","punt_filosofia"]].corr

<bound method DataFrame.corr of         puntaje_prof  punt_filosofia
0               49.0            29.0
1                6.0            47.0
2                5.0            45.0
3               29.0            40.0
4               55.0            43.0
...              ...             ...
212005           6.0            52.0
212006           5.0            42.0
212007          52.0            34.0
212008          52.0            33.0
212009           6.0            69.0

[212010 rows x 2 columns]>

In [16]:
df2=df[["puntaje_prof","punt_filosofia"]].corr

In [17]:
df2

<bound method DataFrame.corr of         puntaje_prof  punt_filosofia
0               49.0            29.0
1                6.0            47.0
2                5.0            45.0
3               29.0            40.0
4               55.0            43.0
...              ...             ...
212005           6.0            52.0
212006           5.0            42.0
212007          52.0            34.0
212008          52.0            33.0
212009           6.0            69.0

[212010 rows x 2 columns]>

# missing values

In [18]:
df.isna().any()

Unnamed: 0              False
estu_tipodocumento      False
estu_nacionalidad       False
estu_genero              True
estu_fechanacimiento     True
                        ...
punt_ingles             False
desemp_ingles            True
profundiza              False
puntaje_prof            False
desemp_prof              True
Length: 144, dtype: bool

In [19]:
df.isna()

,Unnamed: 0,estu_tipodocumento,estu_nacionalidad,estu_genero,estu_fechanacimiento,estu_exterior,periodo,estu_consecutivo,estu_estadocivil,estu_estudiante,...,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,desemp_ingles,profundiza,puntaje_prof,desemp_prof
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212005,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
212006,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
212007,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
212008,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
212009,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
df4.any

NameError: name 'df4' is not defined

# treating
mean
median

In [ ]:

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [ ]:
imp = SimpleImputer(strategy="most_frequent")
df3=imp.fit_transform(df)

In [ ]:
df3

# outliers

In [ ]:
df.columns

In [ ]:
df.head(6)

In [ ]:
df.punt_biologia

In [ ]:
df4=df.isna

In [ ]:
df.any

In [ ]:
df5=df.notnull
df5