In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("saber_combined_all_fields.csv")

In [3]:
df.describe()

,Unnamed: 0,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_ano_examenestado_sb11,estu_semestrecursa,inst_cod_institucion,estu_snies_prgmacademico,estu_prgm_codmunicipio,estu_inst_codmunicipio,...,cole_cod_depto_ubicacion,punt_lenguaje,punt_matematicas,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,puntaje_prof
count,212010.000000,212010.000000,211645.000000,211645.000000,46960.000000,126187.00000,212010.000000,205479.000000,212010.000000,212010.000000,...,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000
mean,106004.500000,20170.184156,37.972761,29130.862539,2011.922466,6.94940,3476.782727,37047.804530,27598.687312,23531.839177,...,31.179492,51.457111,51.778789,49.445092,50.275350,48.835602,49.687142,45.089265,51.896175,29.798788
std,61202.159623,14.162938,947.511332,25780.276662,2.210888,2.68588,3810.251141,39054.944918,25442.052235,23418.009068,...,26.212527,7.551992,12.476416,8.194308,8.353876,10.001497,8.703722,9.299312,14.487412,23.229438
min,0.000000,20123.000000,5.000000,5001.000000,1968.000000,1.00000,1101.000000,1.000000,5001.000000,5001.000000,...,5.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,53002.250000,20163.000000,11.000000,11001.000000,2012.000000,4.00000,1704.000000,2524.000000,11001.000000,11001.000000,...,11.000000,46.000000,43.000000,44.000000,45.000000,43.000000,44.000000,39.000000,43.000000,5.000000
50%,106004.500000,20173.000000,13.000000,13001.000000,2012.000000,8.00000,1818.000000,13734.000000,11001.000000,11001.000000,...,17.000000,52.000000,51.000000,49.000000,50.000000,48.000000,49.000000,45.000000,47.000000,40.000000
75%,159006.750000,20183.000000,52.000000,52001.000000,2012.000000,9.00000,2849.000000,90876.000000,52001.000000,25175.000000,...,54.000000,56.000000,58.000000,54.000000,55.000000,55.000000,55.000000,51.000000,58.000000,52.000000
max,212009.000000,20184.000000,99999.000000,99999.000000,2015.000000,11.00000,129593.000000,106552.000000,99001.000000,99001.000000,...,99.000000,109.000000,127.000000,100.000000,95.000000,124.000000,111.000000,103.000000,100.000000,90.000000

In [4]:
df.head(6)

,Unnamed: 0,estu_tipodocumento,estu_nacionalidad,estu_genero,estu_fechanacimiento,estu_exterior,periodo,estu_consecutivo,estu_estadocivil,estu_estudiante,...,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,desemp_ingles,profundiza,puntaje_prof,desemp_prof
0,0,TI,COLOMBIA,M,30/07/1996,NaN,20134,EK201340233804,Soltero,ESTUDIANTE,...,39.0,42.0,33.0,33.0,29.0,38.0,A-,PUNT_INTERDISC_MEDIOAMBIENTE,49.0,NaN
1,1,CC,COLOMBIA,M,13/04/1994,NaN,20133,EK201330220754,Soltero,ESTUDIANTE,...,52.0,52.0,54.0,44.0,47.0,51.0,A1,PUNT_PROFUNDIZA_LENGUAJE,6.0,II
2,2,CC,COLOMBIA,F,08/12/1991,NaN,20134,EK201340246502,Soltero,ESTUDIANTE,...,50.0,51.0,28.0,46.0,45.0,43.0,A-,PUNT_PROFUNDIZA_BIOLOGIA,5.0,I
3,3,TI,COLOMBIA,F,10/01/1996,NaN,20134,EK201340237996,Soltero,ESTUDIANTE,...,34.0,35.0,45.0,42.0,40.0,43.0,A-,PUNT_INTERDISC_VIOLENCIAYSOC,29.0,NaN
4,4,CC,COLOMBIA,M,11/10/1995,NO,20173,EK201730119521,NaN,ESTUDIANTE,...,57.0,65.0,44.0,49.0,43.0,42.0,A-,PUNT_INTERDISC_MEDIOAMBIENTE,55.0,NaN
5,5,CC,COLOMBIA,M,08/08/1995,NO,20173,EK201730081262,NaN,ESTUDIANTE,...,46.0,47.0,36.0,44.0,26.0,34.0,A-,PUNT_INTERDISC_VIOLENCIAYSOC,52.0,NaN

In [5]:
df.describe()

,Unnamed: 0,periodo,estu_cod_reside_depto,estu_cod_reside_mcpio,estu_ano_examenestado_sb11,estu_semestrecursa,inst_cod_institucion,estu_snies_prgmacademico,estu_prgm_codmunicipio,estu_inst_codmunicipio,...,cole_cod_depto_ubicacion,punt_lenguaje,punt_matematicas,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,puntaje_prof
count,212010.000000,212010.000000,211645.000000,211645.000000,46960.000000,126187.00000,212010.000000,205479.000000,212010.000000,212010.000000,...,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000,212010.000000
mean,106004.500000,20170.184156,37.972761,29130.862539,2011.922466,6.94940,3476.782727,37047.804530,27598.687312,23531.839177,...,31.179492,51.457111,51.778789,49.445092,50.275350,48.835602,49.687142,45.089265,51.896175,29.798788
std,61202.159623,14.162938,947.511332,25780.276662,2.210888,2.68588,3810.251141,39054.944918,25442.052235,23418.009068,...,26.212527,7.551992,12.476416,8.194308,8.353876,10.001497,8.703722,9.299312,14.487412,23.229438
min,0.000000,20123.000000,5.000000,5001.000000,1968.000000,1.00000,1101.000000,1.000000,5001.000000,5001.000000,...,5.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,53002.250000,20163.000000,11.000000,11001.000000,2012.000000,4.00000,1704.000000,2524.000000,11001.000000,11001.000000,...,11.000000,46.000000,43.000000,44.000000,45.000000,43.000000,44.000000,39.000000,43.000000,5.000000
50%,106004.500000,20173.000000,13.000000,13001.000000,2012.000000,8.00000,1818.000000,13734.000000,11001.000000,11001.000000,...,17.000000,52.000000,51.000000,49.000000,50.000000,48.000000,49.000000,45.000000,47.000000,40.000000
75%,159006.750000,20183.000000,52.000000,52001.000000,2012.000000,9.00000,2849.000000,90876.000000,52001.000000,25175.000000,...,54.000000,56.000000,58.000000,54.000000,55.000000,55.000000,55.000000,51.000000,58.000000,52.000000
max,212009.000000,20184.000000,99999.000000,99999.000000,2015.000000,11.00000,129593.000000,106552.000000,99001.000000,99001.000000,...,99.000000,109.000000,127.000000,100.000000,95.000000,124.000000,111.000000,103.000000,100.000000,90.000000

In [6]:
pd.set_option('display.max_rows',10)

print(df)

        Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0                0                 TI          COLOMBIA           M
1                1                 CC          COLOMBIA           M
2                2                 CC          COLOMBIA           F
3                3                 TI          COLOMBIA           F
4                4                 CC          COLOMBIA           M
...            ...                ...               ...         ...
212005      212005                 CC          COLOMBIA           F
212006      212006                 CC          COLOMBIA           F
212007      212007                 CC          COLOMBIA           F
212008      212008                 CC          COLOMBIA           M
212009      212009                 CC          COLOMBIA           M

       estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0                30/07/1996           NaN    20134   EK201340233804
1                13/04/1994           NaN    20133   EK201330220754
2                08/12/1991           NaN    20134   EK201340246502
3                10/01/1996           NaN    20134   EK201340237996
4                11/10/1995            NO    20173   EK201730119521
...                     ...           ...      ...              ...
212005           18/07/1997            NO    20183   EK201830051813
212006           04/09/1995            NO    20183   EK201830033770
212007           21/10/1971            NO    20183   EK201830110470
212008           10/08/1994            NO    20183   EK201830148018
212009           01/01/1997            NO    20183   EK201830033403

       estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0               Soltero      ESTUDIANTE  ...          39.0         42.0
1               Soltero      ESTUDIANTE  ...          52.0         52.0
2               Soltero      ESTUDIANTE  ...          50.0         51.0
3               Soltero      ESTUDIANTE  ...          34.0         35.0
4                   NaN      ESTUDIANTE  ...          57.0         65.0
...                 ...             ...  ...           ...          ...
212005          Soltero      ESTUDIANTE  ...          49.0         54.0
212006          Soltero      ESTUDIANTE  ...          68.0         56.0
212007           Casado      ESTUDIANTE  ...          43.0         29.0
212008          Soltero      ESTUDIANTE  ...          42.0         46.0
212009          Soltero      ESTUDIANTE  ...          57.0         61.0

       punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0             33.0                    33.0           29.0         38.0
1             54.0                    44.0           47.0         51.0
2             28.0                    46.0           45.0         43.0
3             45.0                    42.0           40.0         43.0
4             44.0                    49.0           43.0         42.0
...            ...                     ...            ...          ...
212005        70.0                    53.0           52.0         58.0
212006        55.0                    60.0           42.0         75.0
212007        46.0                    40.0           34.0         38.0
212008        45.0                    44.0           33.0         43.0
212009        56.0                    69.0           69.0         50.0

       desemp_ingles                    profundiza puntaje_prof desemp_prof
0                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1                 A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2                 A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3                 A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
...              ...                           ...          ...         ...
212005            A2      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
212006            B1      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
212007            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212008            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212009            A1    PUNT_PROFUNDIZA_MATEMATICA          6.0          II

[212010 rows x 144 columns]

In [7]:
df1=df.columns

In [8]:
df1

Index(['Unnamed: 0', 'estu_tipodocumento', 'estu_nacionalidad', 'estu_genero',
       'estu_fechanacimiento', 'estu_exterior', 'periodo', 'estu_consecutivo',
       'estu_estadocivil', 'estu_estudiante',
       ...
       'punt_biologia', 'punt_quimica', 'punt_fisica',
       'punt_ciencias_sociales', 'punt_filosofia', 'punt_ingles',
       'desemp_ingles', 'profundiza', 'puntaje_prof', 'desemp_prof'],
      dtype='object', length=144)

In [9]:
df.shape

(212010, 144)

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of         Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0                0                 TI          COLOMBIA           M
1                1                 CC          COLOMBIA           M
2                2                 CC          COLOMBIA           F
3                3                 TI          COLOMBIA           F
4                4                 CC          COLOMBIA           M
...            ...                ...               ...         ...
212005      212005                 CC          COLOMBIA           F
212006      212006                 CC          COLOMBIA           F
212007      212007                 CC          COLOMBIA           F
212008      212008                 CC          COLOMBIA           M
212009      212009                 CC          COLOMBIA           M

       estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0                30/07/1996           NaN    20134   EK201340233804
1                13/04/1994           NaN    20133   EK201330220754
2                08/12/1991           NaN    20134   EK201340246502
3                10/01/1996           NaN    20134   EK201340237996
4                11/10/1995            NO    20173   EK201730119521
...                     ...           ...      ...              ...
212005           18/07/1997            NO    20183   EK201830051813
212006           04/09/1995            NO    20183   EK201830033770
212007           21/10/1971            NO    20183   EK201830110470
212008           10/08/1994            NO    20183   EK201830148018
212009           01/01/1997            NO    20183   EK201830033403

       estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0               Soltero      ESTUDIANTE  ...          39.0         42.0
1               Soltero      ESTUDIANTE  ...          52.0         52.0
2               Soltero      ESTUDIANTE  ...          50.0         51.0
3               Soltero      ESTUDIANTE  ...          34.0         35.0
4                   NaN      ESTUDIANTE  ...          57.0         65.0
...                 ...             ...  ...           ...          ...
212005          Soltero      ESTUDIANTE  ...          49.0         54.0
212006          Soltero      ESTUDIANTE  ...          68.0         56.0
212007           Casado      ESTUDIANTE  ...          43.0         29.0
212008          Soltero      ESTUDIANTE  ...          42.0         46.0
212009          Soltero      ESTUDIANTE  ...          57.0         61.0

       punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0             33.0                    33.0           29.0         38.0
1             54.0                    44.0           47.0         51.0
2             28.0                    46.0           45.0         43.0
3             45.0                    42.0           40.0         43.0
4             44.0                    49.0           43.0         42.0
...            ...                     ...            ...          ...
212005        70.0                    53.0           52.0         58.0
212006        55.0                    60.0           42.0         75.0
212007        46.0                    40.0           34.0         38.0
212008        45.0                    44.0           33.0         43.0
212009        56.0                    69.0           69.0         50.0

       desemp_ingles                    profundiza puntaje_prof desemp_prof
0                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1                 A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2                 A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3                 A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
...              ...                           ...          ...         ...
212005            A2      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
212006            B1      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
212007            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212008            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212009            A1    PUNT_PROFUNDIZA_MATEMATICA          6.0          II

[212010 rows x 144 columns]>

In [12]:
df.corr

<bound method DataFrame.corr of         Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0                0                 TI          COLOMBIA           M
1                1                 CC          COLOMBIA           M
2                2                 CC          COLOMBIA           F
3                3                 TI          COLOMBIA           F
4                4                 CC          COLOMBIA           M
...            ...                ...               ...         ...
212005      212005                 CC          COLOMBIA           F
212006      212006                 CC          COLOMBIA           F
212007      212007                 CC          COLOMBIA           F
212008      212008                 CC          COLOMBIA           M
212009      212009                 CC          COLOMBIA           M

       estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0                30/07/1996           NaN    20134   EK201340233804
1                13/04/1994           NaN    20133   EK201330220754
2                08/12/1991           NaN    20134   EK201340246502
3                10/01/1996           NaN    20134   EK201340237996
4                11/10/1995            NO    20173   EK201730119521
...                     ...           ...      ...              ...
212005           18/07/1997            NO    20183   EK201830051813
212006           04/09/1995            NO    20183   EK201830033770
212007           21/10/1971            NO    20183   EK201830110470
212008           10/08/1994            NO    20183   EK201830148018
212009           01/01/1997            NO    20183   EK201830033403

       estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0               Soltero      ESTUDIANTE  ...          39.0         42.0
1               Soltero      ESTUDIANTE  ...          52.0         52.0
2               Soltero      ESTUDIANTE  ...          50.0         51.0
3               Soltero      ESTUDIANTE  ...          34.0         35.0
4                   NaN      ESTUDIANTE  ...          57.0         65.0
...                 ...             ...  ...           ...          ...
212005          Soltero      ESTUDIANTE  ...          49.0         54.0
212006          Soltero      ESTUDIANTE  ...          68.0         56.0
212007           Casado      ESTUDIANTE  ...          43.0         29.0
212008          Soltero      ESTUDIANTE  ...          42.0         46.0
212009          Soltero      ESTUDIANTE  ...          57.0         61.0

       punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0             33.0                    33.0           29.0         38.0
1             54.0                    44.0           47.0         51.0
2             28.0                    46.0           45.0         43.0
3             45.0                    42.0           40.0         43.0
4             44.0                    49.0           43.0         42.0
...            ...                     ...            ...          ...
212005        70.0                    53.0           52.0         58.0
212006        55.0                    60.0           42.0         75.0
212007        46.0                    40.0           34.0         38.0
212008        45.0                    44.0           33.0         43.0
212009        56.0                    69.0           69.0         50.0

       desemp_ingles                    profundiza puntaje_prof desemp_prof
0                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1                 A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2                 A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3                 A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4                 A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
...              ...                           ...          ...         ...
212005            A2      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
212006            B1      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
212007            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212008            A-  PUNT_INTERDISC_MEDIOAMBIENTE         52.0         NaN
212009            A1    PUNT_PROFUNDIZA_MATEMATICA          6.0          II

[212010 rows x 144 columns]>

In [20]:
df.columns

Index(['Unnamed: 0', 'estu_tipodocumento', 'estu_nacionalidad', 'estu_genero',
       'estu_fechanacimiento', 'estu_exterior', 'periodo', 'estu_consecutivo',
       'estu_estadocivil', 'estu_estudiante',
       ...
       'punt_biologia', 'punt_quimica', 'punt_fisica',
       'punt_ciencias_sociales', 'punt_filosofia', 'punt_ingles',
       'desemp_ingles', 'profundiza', 'puntaje_prof', 'desemp_prof'],
      dtype='object', length=144)


MISSING VALUES

In [21]:

df.isna().any()

Unnamed: 0              False
estu_tipodocumento      False
estu_nacionalidad       False
estu_genero              True
estu_fechanacimiento     True
                        ...
punt_ingles             False
desemp_ingles            True
profundiza              False
puntaje_prof            False
desemp_prof              True
Length: 144, dtype: bool

In [22]:
df.isna()

,Unnamed: 0,estu_tipodocumento,estu_nacionalidad,estu_genero,estu_fechanacimiento,estu_exterior,periodo,estu_consecutivo,estu_estadocivil,estu_estudiante,...,punt_biologia,punt_quimica,punt_fisica,punt_ciencias_sociales,punt_filosofia,punt_ingles,desemp_ingles,profundiza,puntaje_prof,desemp_prof
0,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212005,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
212006,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
212007,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
212008,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
212009,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
num_missing = (df == 0).sum()

In [26]:
print(num_missing)

Unnamed: 0                1
estu_tipodocumento        0
estu_nacionalidad         0
estu_genero               0
estu_fechanacimiento      0
                       ...
punt_ingles               7
desemp_ingles             0
profundiza                0
puntaje_prof            252
desemp_prof               0
Length: 144, dtype: int64

In [27]:
print(df.isnull().sum())

Unnamed: 0                   0
estu_tipodocumento           0
estu_nacionalidad            0
estu_genero                  3
estu_fechanacimiento       121
                         ...
punt_ingles                  0
desemp_ingles               22
profundiza                   0
puntaje_prof                 0
desemp_prof             114055
Length: 144, dtype: int64

In [29]:
print(df.head(20))

    Unnamed: 0 estu_tipodocumento estu_nacionalidad estu_genero  \
0            0                 TI          COLOMBIA           M
1            1                 CC          COLOMBIA           M
2            2                 CC          COLOMBIA           F
3            3                 TI          COLOMBIA           F
4            4                 CC          COLOMBIA           M
..         ...                ...               ...         ...
15          15                 CC          COLOMBIA           F
16          16                 CC          COLOMBIA           F
17          17                 CC          COLOMBIA           F
18          18                 CC          COLOMBIA           F
19          19                 CC          COLOMBIA           F

   estu_fechanacimiento estu_exterior  periodo estu_consecutivo  \
0            30/07/1996           NaN    20134   EK201340233804
1            13/04/1994           NaN    20133   EK201330220754
2            08/12/1991           NaN    20134   EK201340246502
3            10/01/1996           NaN    20134   EK201340237996
4            11/10/1995            NO    20173   EK201730119521
..                  ...           ...      ...              ...
15           04/04/1996            NO    20173   EK201730133019
16           09/05/1995            NO    20173   EK201730091098
17           15/07/1995            NO    20173   EK201730117056
18           17/11/1995            NO    20173   EK201730100257
19           30/04/1996            NO    20173   EK201730085982

   estu_estadocivil estu_estudiante  ... punt_biologia punt_quimica  \
0           Soltero      ESTUDIANTE  ...          39.0         42.0
1           Soltero      ESTUDIANTE  ...          52.0         52.0
2           Soltero      ESTUDIANTE  ...          50.0         51.0
3           Soltero      ESTUDIANTE  ...          34.0         35.0
4               NaN      ESTUDIANTE  ...          57.0         65.0
..              ...             ...  ...           ...          ...
15              NaN      ESTUDIANTE  ...          54.0         49.0
16              NaN      ESTUDIANTE  ...          48.0         46.0
17              NaN      ESTUDIANTE  ...          50.0         50.0
18              NaN      ESTUDIANTE  ...          44.0         45.0
19              NaN      ESTUDIANTE  ...          50.0         51.0

   punt_fisica  punt_ciencias_sociales punt_filosofia  punt_ingles  \
0         33.0                    33.0           29.0         38.0
1         54.0                    44.0           47.0         51.0
2         28.0                    46.0           45.0         43.0
3         45.0                    42.0           40.0         43.0
4         44.0                    49.0           43.0         42.0
..         ...                     ...            ...          ...
15        45.0                    38.0           40.0         50.0
16        48.0                    52.0           37.0         43.0
17        48.0                    62.0           45.0         80.0
18        40.0                    43.0           40.0         48.0
19        51.0                    52.0           50.0         65.0

   desemp_ingles                    profundiza puntaje_prof desemp_prof
0             A-  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
1             A1      PUNT_PROFUNDIZA_LENGUAJE          6.0          II
2             A-      PUNT_PROFUNDIZA_BIOLOGIA          5.0           I
3             A-  PUNT_INTERDISC_VIOLENCIAYSOC         29.0         NaN
4             A-  PUNT_INTERDISC_MEDIOAMBIENTE         55.0         NaN
..           ...                           ...          ...         ...
15            A1  PUNT_INTERDISC_VIOLENCIAYSOC         48.0         NaN
16            A-      PUNT_PROFUNDIZA_LENGUAJE          5.0           I
17            B1  PUNT_INTERDISC_VIOLENCIAYSOC         69.0         NaN
18            A1  PUNT_INTERDISC_MEDIOAMBIENTE         49.0         NaN
19            B1  PUNT_INTERDISC_VIOLENCIAYSOC         41.0         NaN

[20 rows x 144 columns]

In [38]:
df5=df.fillna(df.mean(), inplace=True)
# count the number of NaN values in each column
print(df5.isnull().sum())

C:\Users\JASTYN\AppData\Local\Temp/ipykernel_10008/3220055273.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df5=df.fillna(df.mean(), inplace=True)

Unnamed: 0                   0
estu_tipodocumento           0
estu_nacionalidad            0
estu_genero                  3
estu_fechanacimiento       121
                         ...
punt_ingles                  0
desemp_ingles               22
profundiza                   0
puntaje_prof                 0
desemp_prof             114055
Length: 144, dtype: int64

In [39]:
print(df.isnull().values.any())

True

In [41]:
print(df5.isnull().sum())

AttributeError: 'NoneType' object has no attribute 'isnull'

# treating
mean
median

In [ ]:

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [ ]:
imp = SimpleImputer(strategy="most_frequent")
df3=imp.fit_transform(df)

In [ ]:
df3

# outliers

In [ ]:
df.columns

In [ ]:
df.head(6)

In [ ]:
df.punt_biologia

In [ ]:
df4=df.isna

In [ ]:
df.any

In [ ]:
df5=df.notnull
df5

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

for column in df5:
    plt.figure()
    df.boxplot([column])